* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;

}

.vglasses__left {
    background-color: white;
    padding: 20px 40px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.vglasses__left .col-4 {
    align-self: center;
}

.vglasses__items {
    cursor: pointer;
    height: 100px;
    width: 100px;
    object-fit: contain;
    margin: 0 12px;

}

.vglasses__right {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.vglasses__model {
    background-position: center top;
    background-size: cover;
    height: 600px;

}

.vglasses__model img {
    position: absolute;
    top: 30%;
    left: 28.5%;
    width: 238px;
    height: 85px;
    opacity: 0.9;
}

.vglasses__card {
    position: relative;
    overflow: hidden;
    background-color: white;
}

.vglasses__info {
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    color: white;
    padding: 20px;
    display: none;
}

#glasses {
    transition: all 0.5s;
}

#vglassesList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-container {
    display: flex;
    justify-content: center;

}

.glass-img {
    width: 200px;
    height: 120px;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.glass-img+.glass-img {
    margin: 0 24px;
}

.glass-title {
    font-size: 20px;
    font-weight: 500;
}

.glass-price {
    height: 24px;
    width: 44px;
    background: #f4052b;
    font-weight: 400;
    border-radius: 5px;
    text-align: center;
}

.glass-desc {
    color: #e5e5e5;
}